.collection {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .collection-h1 {
        width: 80%;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        margin: 0;

        &>h1 {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }

    .collection-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 8px;
        background-color: gray;
        margin: 10px;
        width: 280px;

        &>img {
            width: 180px;
            margin: 10px;
        }

        &>div {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .collection-name {
                font-size: 36px;
                margin-top: 16px;
                margin-bottom: 4px;
                text-align: center;
            }

            .number-set-collection {
                display: flex;
                font-size: 24px;

                &>p {
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }

            &>div {
                &>div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 220px;

                    &>input {
                        width: 16px;
                        text-align: center;
                    }
                }
            }

            .button-div {
                width: 250px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .delete-button {
                    margin-top: 16px;
                    margin-bottom: 8px;
                }
    
                .aply-changes {
                    margin-top: 16px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}