.detail-view {
    display: flex;
    flex-direction: column;

    &>button {
        width: 30%;
    }

    .card-img {
        display: flex;
        flex-direction: column;
        align-items: center;

        &>img {
            width: 300px;
        }
    }
}