.search {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        width: 90%;

        &>p {
            margin: 5px 4px;
            font-size: 12px;
        }

        &>select {
            font-size: 10px;
            margin-right: 5px;
            height: 24px;
        }

        .order-by {
            width: 90px;
            margin-right: 24px;
        }

        .filter-by-supertype {
            width: 88px;
        }

        .filter-by-format {
            width: 80px;
        }
    }

    &>form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &>input {
            height: 30px;
            padding-left: 5px;
            margin-right: 10px;
        }
    }
}